
<div class="panel panel-default">
    <div class="panel-heading">
        Add Repository
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <tbody>
                  <% @repositories.each do |repo| %>
                  <tr>
                      <td><%= repo.full_name %></td>
                      <td><%= link_to 'Add',
                        repositories_path(:name => repo.name, :full_name => repo.full_name,
                          :github_id => repo.id),
                          :method => :post, :class => "btn btn-success btn-block"%></td>
                  </tr>
                  <% end %>
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.panel-body -->
</div>
<!-- /.panel -->
<!-- /.col-lg-6 -->
